#navList {
  font-size: 30px;
  font-family: "Amatic SC", cursive !important;
  color: rgb(245, 238, 197) !important;
}
#name {
  font-size: 25px !important;
  font-family: "Rock Salt", cursive !important;
  color: rgb(245, 238, 197) !important;
}
