body {
  background-image: url("https://images.unsplash.com/photo-1493673272479-a20888bcee10?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHBsYW50c3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100%;
}

.card {
  box-shadow: 5px 10px #888888;
  font-family: tahoma;
  padding: 5px;
  margin: 40px;
}
#cardbody {
  background-color: rgba(221, 223, 222, 0.5);
  /* max-width: 610px; */
}
.cardbody2 {
  background-color: rgba(129, 131, 130, 0.2);
}
#profIcon {
  padding: 5px;
  font-size: 30px;
  color: #314d32;
  margin-left: 20px;
}

#button {
  padding: 8px;
  margin-left: 20px;
}
